{% extends 'music/base.html' %}
{% block title %}Friend Requests{% endblock %}

{% block body %}
    {% if friend_reqs %}
        <div class="row">
            <div class="col-sm-12">
                <h3>Friendship Requests</h3>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Accept</th>
                                    <th>Decline</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for friend in friend_reqs %}
                                    <tr>
                                        <td>{{ friend.from_user.username }}</td>
                                        <td>{{ friend.from_user.email }}</td>
                                        <td>
                                            <!--TODO: Not working, does nothing after it chages the URL-->
                                           <input type="hidden" name="user_id" value="{{ friend.from_user.id }}" />
                                            <a href="{% url 'music:accept-friend-req' friend.from_user.id %}"
                                               class="btn btn-success btn-xs" role="button"> Accept
                                            </a>
                                            <a href="{% url 'music:decline-friend-req' friend.from_user.id %}"
                                               class="btn btn-danger btn-xs" role="button"> Decline
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <h3>No new friend requests</h3>
    {% endif %}

</div>
{% endblock %}