{% extends 'music/base.html' %}
{% block title %}Friends{% endblock %}

{% block body %}
<div class="container container-fluid">

    <div class="row">
        {% if all_friends %}
            {% for friend in all_friends %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <div class="caption">
                            <h2>{{ user.username }}</h2>
                            <h4>{{ user.email }}</h4>
                               <a href="{% url 'music:accept-friend-req' friend.from_user.id %}"
                                  class="btn btn-danger btn-xs" role="button">
                                    <span class="glyphicon glyphicon-remove">Remove Friend</span>
                                </a>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <h1>You have no friends :( </h1>
        {% endif %}
    </div>
</div>
{% endblock %}